# PostgreSQL Config (Puerto 5433 para evitar conflicto con Postgres local)
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=logipulse_user
POSTGRES_PASSWORD=logipulse_secret
POSTGRES_DB=logipulse_db

# MongoDB Config
MONGO_URI=mongodb://root:mongo_secret@localhost:27017/logipulse_telemetry?authSource=admin

# RabbitMQ Config
RABBITMQ_URI=amqp://guest:guest@localhost:5672

# AI Services Config (Free Tier Keys)
GROQ_API_KEY=gsk_tu_api_key_de_groq_aqui
GROQ_MODEL=groq/compound-mini
TAVILY_API_KEY=tvly-tu_api_key_de_tavily_aqui

# Ports & Origins
ORDERS_SERVICE_PORT=3001
TELEMETRY_SERVICE_PORT=3002
AI_SERVICE_PORT=3003
WEB_PORT=3000
CORS_ORIGIN=http://localhost:3000