# PostgreSQL Config
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=logipulse_user
POSTGRES_PASSWORD=logipulse_secret
POSTGRES_DB=logipulse_db

# MongoDB Config
MONGO_URI=mongodb://root:mongo_secret@localhost:27017/logipulse_telemetry?authSource=admin

# RabbitMQ Config
RABBITMQ_URI=amqp://guest:guest@localhost:5672

# AI Services Config (Free Tier Keys)
GROQ_API_KEY=gsk_tu_api_key_de_groq_aqui
TAVILY_API_KEY=tvly-tu_api_key_de_tavily_aqui

# Ports
ORDERS_SERVICE_PORT=3001
TELEMETRY_SERVICE_PORT=3002
AI_SERVICE_PORT=3003
WEB_PORT=3000